[Unit]
Description=Andromeda updates processor
After=network.target

[Service]
Type=simple
User=myuser
EnvironmentFile=-/etc/default/andromeda
WorkingDirectory=/home/myuser/go/src/jaytaylor.com/andromeda
ExecStart=/home/myuser/go/bin/andromeda updates-processor -v --driver postgres --db "dbname=andromeda host=/var/run/postgresql"
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=andromeda.service
