##
#
# Recommended installation, self-updates every 15 minutes:
#
#     1. Install mnt-ramdisk.automount service.
#
#         sudo cp scripts/systemd/* /etc/systemd/system/
#
#     2. Install this andromeda-crawler service, replacing "myuser" with the
#        desired account username.
#
#         sudo sed -i 's/myuser/DESIRED_USER/g' /etc/systemd/system/andromeda-crawler.service
#
#         sudo systemctl daemon-reload
#
#     3. Edit root crontab and add (again, replacing "myuser"):
#
#         sudo crontab -e
#
#         */15 * * * * /bin/bash -c 'sudo -u myuser /bin/bash -c '"'"'. /etc/profile && $GOPATH/src/jaytaylor.com/andromeda/scripts/self-update.sh 1>/dev/null 2>/dev/null ; exit $?'"'"' ; rc=$? ; if [ $rc -eq 0 ] ; then echo '"'"'INFO: Crawler updated, restarting service'"'"' ; /bin/systemctl restart andromeda-crawler ; fi'
#
#     4. Bounce the service.
#
#         sudo systemctl restart andromeda-crawler
#
##

[Unit]
Description=Andromeda Remote Crawler Service
After=network.target

[Service]
Type=simple
User=myuser
EnvironmentFile=-/etc/default/andromeda
WorkingDirectory=/home/myuser/go/src/jaytaylor.com/andromeda
ExecStart=/home/myuser/go/bin/andromeda remote crawler -v -a 127.0.0.1:8001 --delete-after -s /mnt/ramdisk/src
Restart=on-failure

[Install]
WantedBy=multi-user.target

