##
#
# Recommended installation self-updates every 4 hours:
#
#     1. Install mnt-ramdisk.automount service.
#
#     2. Install this andromeda-crawler service, replacing "myuser".
#
#     3. Edit root crontab and add:
#
#         1 */4 * * * systemctl restart andromeda-crawler
#
#     4. Edit the "myuser" crontab and add:
#
#         0 */4 * * * /bin/bash -c '. /etc/profile && cd "${GOPATH}/src/jaytaylor.com/andromeda" ; ./scripts/self-update.sh' 2>&1 1>/dev/null
#
##

[Unit]
Description=Andromeda Remote Crawler Service
After=network.target

[Service]
Type=simple
User=myuser
EnvironmentFile=-/etc/default/andromeda
WorkingDirectory=/home/myuser/go/src/jaytaylor.com/andromeda
ExecStart=/home/myuser/go/bin/andromeda remote-crawler -v -a 127.0.0.1:8001 --delete-after -s /mnt/ramdisk/src
Restart=on-failure

[Install]
WantedBy=multi-user.target

